doctype html
html
    head
    
    //SUI-OPT-IN
    link(rel='stylesheet', href='//xactorigin.spiceworks.com/client_interactive/css/1-2-0/sui-opt-in.css')
    
    // BASE
    link(rel='stylesheet', href='//xactorigin.spiceworks.com/client_interactive/css/1-2-0/habanero.css')
    
    // THEME
    link(rel='stylesheet', href='//xactorigin.spiceworks.com/client_interactive/vendor_pages/[CLIENT NAME]/css/theme.css')
    
    // STYLING
    link(rel='stylesheet', href='css/main.css')
    
    body.sui-opt-in
        .vendor-container
        
        script(src='//code.jquery.com/jquery-1.11.3.min.js')
        script(src = 'script/main.js')
