doctype html
html
    head
    
    //SUI-OPT-IN
    link(rel='stylesheet', href='//xactorigin.spiceworks.com/client_interactive/css/1-1-0/sui-opt-in.css')
    
    // BASE
    link(rel='stylesheet', href='//xactorigin.spiceworks.com/client_interactive/css/1-1-0/grid.css')
    link(rel='stylesheet', href='//xactorigin.spiceworks.com/client_interactive/css/1-1-0/normalizer.css')
    
    // THEME
    link(rel='stylesheet', href='//xactorigin.spiceworks.com/client_interactive/vendor_pages/[CLIENT_NAME]/css/theme.css')
    
    // STYLING
    link(rel='stylesheet', href='style/main.css')
    
    body.sui-opt-in
        .vendor-container   
        
        script(src='//code.jquery.com/jquery-1.11.3.min.js')  
