html
    head
    
        //SUI-OPT-IN
        link(rel='stylesheet', href='//xactoriging.spiceworks.com/client_interactive/css/1-1-0/sui-opt-in.css')
        
        // BASE
        link(rel='stylesheet', href='//xactoriging.spiceworks.com/client_interactive/css/1-1-0/grid.css')
        link(rel='stylesheet', href='//xactoriging.spiceworks.com/client_interactive/css/1-1-0/normalizer.css')
        
        // BASE
        link(rel='stylesheet', href='//xactoriging.spiceworks.com/client_interactive/vendor_pages/[CLIENT NAME]/css/theme.css')
    
    body.sui-opt-in
        .vendor-container     
